.khan__buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    transition: .2s linear 0s;
    color: #2f80ed;
    text-decoration: none;
  }

  .khan__buy-link:hover{
    color:#19191a;
  }